<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        
    </head>
    <body>
        <div>
        <h1><img src="https://vignette.wikia.nocookie.net/batman/images/9/92/Batman-ArkhamKnight-BatsuitRender.png/revision/latest?cb=20140605151444" 
            width="300px" height="500px" style="float:left" >  Batmaniacs!!!<br>Blog</h1>
        </div>
        <nav>
            <a  style="color: goldenrod;" href='/blog'>View Blog</a> | 
            <a  style="color: goldenrod;" href='/newpost'>New Post</a>
        </nav>
            
        <hr />

        {% block content %}
        {% endblock %}

    </body>
</html>