{% extends "base.html" %}

{% block content %}

    <h2>New Blog Entry</h2>
    <form method='POST' action="/newpost">
        <label style="color: goldenrod;" for='title'>
            New Blog Title:<br>
            <input  name="title" type="text" value='{{blog_title}}' />
            <span style="color: red;" class="error">{{title_error}}</span>
        </label>
        <br>
        <label style="color: goldenrod;" for='body'>
            Blog Entry Here:<br>
            <textarea name="body" type="text" />{{blog_body}}</textarea>
            <span style="color: red;" class="error">{{body_error}}</span>
        </label>
        <br>
        <input type="submit" value='Post New Blog' />
    </form>

{% endblock %}